USE [master]
GO
CREATE DATABASE [K-Pop Industry]
 GO
USE [K-Pop Industry]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[AlbumTitle] [varchar](150) NOT NULL,
	[ReleaseDate] [date] NULL,
	[GroupId] [int] NOT NULL,
	[AlbumType] [varchar](30) NULL,
 CONSTRAINT [PK__albums__97B4BE375E3264BE] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[AwardId] [int] IDENTITY(1,1) NOT NULL,
	[AwardName] [varchar](100) NOT NULL,
	[AwardYear] [int] NULL,
	[AwardCategory] [varchar](100) NULL,
	[WinnerGroupId] [int] NULL,
	[WinnerSongId] [int] NULL,
 CONSTRAINT [PK__awards__B08935FE3973D3EC] PRIMARY KEY CLUSTERED 
(
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[FoundedDate] [date] NULL,
	[Country] [varchar](50) NULL,
 CONSTRAINT [PK__companie__2D971CACA6F5EE3A] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fandoms](
	[FandomId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[FandomName] [varchar](50) NOT NULL,
	[debut_year] [int] NULL,
 CONSTRAINT [PK__fandoms__74F4E786346A6D62] PRIMARY KEY CLUSTERED 
(
	[FandomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idols](
	[IdolId] [int] IDENTITY(1,1) NOT NULL,
	[IdolName] [varchar](100) NOT NULL,
	[BirthDate] [date] NULL,
	[Nationality] [varchar](50) NULL,
	[GroupId] [int] NOT NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK__idols__A041481E015C144E] PRIMARY KEY CLUSTERED 
(
	[IdolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KpopGroups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](100) NOT NULL,
	[DebutDate] [date] NULL,
	[CompanyId] [int] NOT NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK__kpop_gro__149AF36A986E01C4] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[SongId] [int] IDENTITY(1,1) NOT NULL,
	[SongTitle] [varchar](150) NOT NULL,
	[AlbumId] [int] NOT NULL,
	[Language] [varchar](30) NULL,
 CONSTRAINT [PK__songs__12E3D697F2B52095] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([AlbumId], [AlbumTitle], [ReleaseDate], [GroupId], [AlbumType]) VALUES (1, N'Dark & Wild', CAST(N'2014-08-20' AS Date), 1, N'Studio')
INSERT [dbo].[Albums] ([AlbumId], [AlbumTitle], [ReleaseDate], [GroupId], [AlbumType]) VALUES (2, N'Wings', CAST(N'2016-10-10' AS Date), 1, N'Studio')
INSERT [dbo].[Albums] ([AlbumId], [AlbumTitle], [ReleaseDate], [GroupId], [AlbumType]) VALUES (3, N'Map of the Soul: 7', CAST(N'2020-02-21' AS Date), 1, N'Studio')
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[Awards] ON 

INSERT [dbo].[Awards] ([AwardId], [AwardName], [AwardYear], [AwardCategory], [WinnerGroupId], [WinnerSongId]) VALUES (1, N'MAMA', 2019, N'Artist of the Year', 1, NULL)
INSERT [dbo].[Awards] ([AwardId], [AwardName], [AwardYear], [AwardCategory], [WinnerGroupId], [WinnerSongId]) VALUES (2, N'Billboard Music Awards', 2021, N'Top Social Artist', 1, NULL)
INSERT [dbo].[Awards] ([AwardId], [AwardName], [AwardYear], [AwardCategory], [WinnerGroupId], [WinnerSongId]) VALUES (3, N'Grammy Awards', 2022, N'Best Pop Duo/Group Performance', 1, 3)
SET IDENTITY_INSERT [dbo].[Awards] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [FoundedDate], [Country]) VALUES (1, N'HYBE Corporation', CAST(N'2005-02-01' AS Date), N'South Korea')
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [FoundedDate], [Country]) VALUES (2, N'YG Entertainment', CAST(N'1996-03-07' AS Date), N'South Korea')
INSERT [dbo].[Companies] ([CompanyId], [CompanyName], [FoundedDate], [Country]) VALUES (3, N'Pledis Entertainment', CAST(N'2007-01-01' AS Date), N'South Korea')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Fandoms] ON 

INSERT [dbo].[Fandoms] ([FandomId], [GroupId], [FandomName], [debut_year]) VALUES (1, 1, N'ARMY', 2013)
INSERT [dbo].[Fandoms] ([FandomId], [GroupId], [FandomName], [debut_year]) VALUES (2, 2, N'BLINK', 2016)
INSERT [dbo].[Fandoms] ([FandomId], [GroupId], [FandomName], [debut_year]) VALUES (3, 3, N'CARAT', 2015)
SET IDENTITY_INSERT [dbo].[Fandoms] OFF
GO
SET IDENTITY_INSERT [dbo].[Idols] ON 

INSERT [dbo].[Idols] ([IdolId], [IdolName], [BirthDate], [Nationality], [GroupId], [Role]) VALUES (1, N'RM', CAST(N'1994-09-12' AS Date), N'South Korean', 1, N'Leader, Rapper')
INSERT [dbo].[Idols] ([IdolId], [IdolName], [BirthDate], [Nationality], [GroupId], [Role]) VALUES (2, N'Jin', CAST(N'1992-12-04' AS Date), N'South Korean', 1, N'Vocalist')
INSERT [dbo].[Idols] ([IdolId], [IdolName], [BirthDate], [Nationality], [GroupId], [Role]) VALUES (3, N'Suga', CAST(N'1993-03-09' AS Date), N'South Korean', 1, N'Rapper')
GO
SET IDENTITY_INSERT [dbo].[Idols] OFF
GO
SET IDENTITY_INSERT [dbo].[KpopGroups] ON 

INSERT [dbo].[KpopGroups] ([GroupId], [GroupName], [DebutDate], [CompanyId], [Status]) VALUES (1, N'BTS', CAST(N'2013-06-13' AS Date), 1, N'Active')
INSERT [dbo].[KpopGroups] ([GroupId], [GroupName], [DebutDate], [CompanyId], [Status]) VALUES (2, N'BLACKPINK', CAST(N'2016-08-08' AS Date), 2, N'Active')
INSERT [dbo].[KpopGroups] ([GroupId], [GroupName], [DebutDate], [CompanyId], [Status]) VALUES (3, N'SEVENTEEN', CAST(N'2015-05-26' AS Date), 3, N'Active')
SET IDENTITY_INSERT [dbo].[KpopGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([SongId], [SongTitle], [AlbumId], [Language]) VALUES (1, N'Blood Sweat & Tears', 2, N'Korean')
INSERT [dbo].[Songs] ([SongId], [SongTitle], [AlbumId], [Language]) VALUES (2, N'Fake Love', 3, N'Korean')
INSERT [dbo].[Songs] ([SongId], [SongTitle], [AlbumId], [Language]) VALUES (3, N'ON', 3, N'Korean')
SET IDENTITY_INSERT [dbo].[Songs] OFF
GO
ALTER TABLE [dbo].[Fandoms] ADD  CONSTRAINT [UQ__fandoms__149AF36B3F94840D] UNIQUE NONCLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK__albums__GroupId__3F466844] FOREIGN KEY([GroupId])
REFERENCES [dbo].[KpopGroups] ([GroupId])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK__albums__GroupId__3F466844]
GO
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD  CONSTRAINT [FK__awards__WinnerGr__48CFD27E] FOREIGN KEY([WinnerGroupId])
REFERENCES [dbo].[KpopGroups] ([GroupId])
GO
ALTER TABLE [dbo].[Awards] CHECK CONSTRAINT [FK__awards__WinnerGr__48CFD27E]
GO
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD  CONSTRAINT [FK__awards__WinnerSo__49C3F6B7] FOREIGN KEY([WinnerSongId])
REFERENCES [dbo].[Songs] ([SongId])
GO
ALTER TABLE [dbo].[Awards] CHECK CONSTRAINT [FK__awards__WinnerSo__49C3F6B7]
GO
ALTER TABLE [dbo].[Fandoms]  WITH CHECK ADD  CONSTRAINT [FK__fandoms__GroupId__45F365D3] FOREIGN KEY([GroupId])
REFERENCES [dbo].[KpopGroups] ([GroupId])
GO
ALTER TABLE [dbo].[Fandoms] CHECK CONSTRAINT [FK__fandoms__GroupId__45F365D3]
GO
ALTER TABLE [dbo].[Idols]  WITH CHECK ADD  CONSTRAINT [FK__idols__GroupId__3C69FB99] FOREIGN KEY([GroupId])
REFERENCES [dbo].[KpopGroups] ([GroupId])
GO
ALTER TABLE [dbo].[Idols] CHECK CONSTRAINT [FK__idols__GroupId__3C69FB99]
GO
ALTER TABLE [dbo].[KpopGroups]  WITH CHECK ADD  CONSTRAINT [FK__kpop_grou__Compa__398D8EEE] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[KpopGroups] CHECK CONSTRAINT [FK__kpop_grou__Compa__398D8EEE]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK__songs__AlbumId__4222D4EF] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([AlbumId])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK__songs__AlbumId__4222D4EF]
GO
USE [master]
GO
